---
layout: default
title: Home
---

<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <div class="post-metadata-line">{{ post.date | date_to_string }}
      {% for category in post.categories %} | <a href="{{ category | slugify }}">{{ category }}</a> {% endfor %}</div>

    {{ post.excerpt }}

    <a href="{{ post.url }}">Läs hela inlägget</a> |

    <span class="disqus-comment-count" data-disqus-identifier="{{ post.url }}/"></span>
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">Äldre</a>
  {% else %}
    <span class="pagination-item older">Äldre</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">Nyare</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Nyare</span>
  {% endif %}
</div>


<script type="text/javascript">
  var disqus_shortname = 'per-halleluja-nu';
  var disqus_url = 'http://per.halleluja.nu' + document.location.pathname;

  (function () {
      var s = document.createElement('script'); s.async = true;
      s.type = 'text/javascript';
      s.src = '//' + disqus_shortname + '.disqus.com/count.js';
      (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
  }());
</script>
