---
layout: default
title: Home
---

{% if site.lang == "xx" %}

<div class="container content">
  <div class="masthead landing-page-head">
    <h3 class="masthead-title">
      <a href="{{ site.baseurl_root }}/">{{ site.title }}</a>
    </h3>
  </div>

  <p>
    Please select language / Välj språkversion för sidan
  </p>

  <a href="{{ site.baseurl_root }}/en">English</a>
  &middot;
  <a href="{{ site.baseurl_root }}/sv">Svenska</a>
</div>

{% else %}

<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ site.baseurl }}{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <div class="post-metadata-line">{{ post.date | date_to_string }}
      {% for category in post.categories %} | <a href="{{ category | slugify }}">{{ category }}</a> {% endfor %}
    </div>

    {{ post.excerpt }}

    <a href="{{ site.baseurl }}{{ post.url }}">{%t global.read_full_post %}</a> |

    <span class="disqus-comment-count" data-disqus-identifier="{{ post.url }}/"></span>
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}/page{{paginator.next_page}}">{%t global.older %}</a>
  {% else %}
    <span class="pagination-item older">{%t global.older %}</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}">{%t global.newer %}</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/page{{paginator.previous_page}}">{%t global.newer %}</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">{%t global.newer %}</span>
  {% endif %}
</div>


<script type="text/javascript">
  var disqus_shortname = 'per-halleluja-nu';
  var disqus_url = 'http://per.halleluja.nu' + document.location.pathname;

  (function () {
      var s = document.createElement('script'); s.async = true;
      s.type = 'text/javascript';
      s.src = '//' + disqus_shortname + '.disqus.com/count.js';
      (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
  }());
</script>

{% endif %}
