.container {
  max-width: 58rem;
}

/* Meta data line below post title */
.post-metadata-line {
  display: block;
  margin-top: -.5rem;
  margin-bottom: 1rem;
  color: #9a9a9a;
}

.post-metadata-line a {
  color: #9a9a9a;
}

img.emoji {
  display: inline;
  margin: 0 0 0.2rem 0;
}

.landing-page-head {
  margin-bottom: 1rem;
}

pre {
  white-space: pre;
  overflow-x: scroll;
}

li p:last-child, li p:only-of-type {
    margin-bottom: 0;
}

/* Quirk needed to get the Gameland intro looking correct in Chrome &
   Safari. */
#screen:-webkit-full-screen {
  width: 100%;
  height: 100%;
}
