<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

  {% include head.html %}

  <body>

  {% if site.lang == "xx" %}

  {{ content }}

  {% else %}

    <div class="container content">
      <div class="masthead">
        <h3 class="masthead-title">
          <a href="{{ site.baseurl }}/">{{ site.title }}</a>
          <small>{{ site.tagline }}</small>

          {% if site.lang == "sv" %}
          &middot;
          <small><a href="{{ site.baseurl }}/om">Om bloggen</a></small>
          &middot;
          <small><a href="{{ site.baseurl_root }}/">Select language / Välj språk</a></small>
          {% endif %}

          {% if site.lang == "en" %}
          &middot;
          <small><a href="{{ site.baseurl }}/about">About the blog</a></small>
          &middot;
          <small><a href="{{ site.baseurl }}/programming">Programming</a></small>
          &middot;
          <small><a href="{{ site.baseurl_root }}/">Select language / Välj språk</a></small>
          {% endif %}
        </h3>
      </div>

      {{ content }}

      <div class="footer">
        <p>
          <small>&copy; 2008-{{ site.time | date: '%Y' }} Per Lundberg.</small>
        </p>
      </div>
    </div>

    {% endif %}
  </body>
</html>
