<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

    </head>
    <body>

        <div class="site">
          <div class="header">
            <h1 class="title"><a href="/">{{ site.name }}</a></h1>
            <a class="extra" href="/">startsidan</a>
          </div>

          {{ content }}

          <div class="footer">
            <div class="contact">
              <p>
                Per Lundberg<br />
                per@halleluja.nu
              </p>
            </div>
            <div class="contact">
              <p>
                <a href="https://github.com/perlun">github.com/perlun</a><br />
                <a href="https://twitter.com/perlun">twitter.com/perlun</a><br />
              </p>
            </div>
          </div>
        </div>

    </body>
</html>
