---
layout: default
---

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>

  <div class="post-metadata-line">{{ page.date | date_to_string }}
   {% for category in page.categories %} | <a href="{{ site.baseurl }}/{{ category | slugify }}">{{ category}}</a> {% endfor %}</div>
  {{ content }}
</div>

<div id="disqus_thread"></div>
<script type="text/javascript">
    var disqus_shortname = 'per-halleluja-nu';
    var disqus_identifier = document.location.pathname;
    var disqus_url = 'http://per.halleluja.nu' + document.location.pathname;

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
