
<h2>Programming</h2>
<p>
  It should come as no big surprise if you've been reading this blog that
  a big passion in my life is <em>programming</em>. It has been a hobby
  of mine since sometime in the nineties (probably 1994, 95 or somewhere
  around this - my oldest "proof" of something I wrote is the small BBS
  intro <code>flower.com</code> which is dated September 1996) and my
  primary way to make my living since 1999, apart from a few years in the 2000s.
</p>

<p>
  During these years, I've produced a number of different projects on my spare
  time, of various size and grade of "seriosity". Here is a list of some of
  these projects. I'm hoping to add more links to this list over time, adding
  binaries and sometimes the source code (in the cases where it hasn't gotten
  lost over the years.) Many have been solo projects, others have been
  cooperative projects with my brother Johannes Ridderstedt, who has been an
  <em>invaluable</em> source of help and inspiration when learning about
  computer hardware, software and programming. This list wouldn't be what
  it is without him - <em>thanks bro</em>, I owe you a lot! :heart:
</p>

<ul>
  <li>1996: flower.com (BBS intro, written in x86 assembly for MS-DOS.)</li>
  <li>1997: <a href="gameland">Gameland intro</a> (original probably in C, for
    MS-DOS. See further down for intro about the later rewrite.
  <li>1998: rot13 TSR (x86 assembly for MS-DOS)</li>
  <li>1999: Cybermario, an unfinished Mario-spinoff game (C++ for MS-DOS)</li>
  <li>1999: Tribes, an unfinished Civilization clone (C, targetting GTK/Linux)</li>
  <li>1999: <a href="http://chaosdev.io">chaos</a>, an operating system
    (C &amp; x86 assembly)</li>
  <li>2004: iZ, a CMS written using PHP &amp; MySQL</li>
  <li>2008: <a href="https://github.com/perlun/cocos">cocos</a>, a simple
    operating system-like toy for x86-64. (C &amp; x86 assembly)</li>
  <li>2013: <a href="https://github.com/perlun/billigastematkassen">Billigaste
    Matkassen</a>, a shopping price analyzing helper. Web app written using
    JavaScript &amp; jQuery with backend in Ruby, using Redis as data store.</li>
  <li>2013: Imported the chaos source code to
    <a href="https://github.com/chaos4ever/chaos">GitHub</a> and started
    looking into making it compile &amp; run again on modern <code>gcc</code>
    versions. A lot of the existing functionality is now working again as of
    2018.</li>
  <li>2016: <a href="https://github.com/perlun/changelog-rs">changelog-rs</a>, a
    little utility I wrote to get more acquainted with Rust, as well as to be a
    help with creating releases of various software packages at work.</a>
  <li>2017:
    <ul>
        <li>
            <a href="https://github.com/perlun/perlun.eu.org">perlun.eu.org</a>
            (70h) - I seem to have spent quite some time on this blog during
            this year, and the commit log hints that I was both active writing
            blog posts and hacking on the blog in general.</li>
        <li>
            <b>chaos</b> (27h). A bunch of <a
            href="https://github.com/chaos4ever/chaos/compare/529fd70...1ada4b8">misc
            fixes</a> along with the major undertaking of making the bootup
            sequence work again (see <a
            href="http://perlun.eu.org/en/2017/12/30/chaos-why-is-the-boot-server-unable-to-read-the-startup-script">this
            blog post</a> for the full story). The <a
            href="https://github.com/chaos4ever/chaos/releases/tag/0.1.0">0.1.0
            version</a> was also released during the year, but this was before
            all the boot sequence fixes.</li>
        <li>
            <a href="https://github.com/perlun/notime/">notime</a> (15h). I
            experimented a bit with making a new time tracking app for my job. I
            tried out both Aurelia and React as suitable platforms for it</li>

        <li>
            <a href="https://github.com/perlun/ignition">ignition</a> (8h), an
            experimental application server written in Java that allows you to
            write your backend code in JavaScript or TypeScript. Very
            unfinished, this was just a proof-of-concept I wrote while
            interviewing with a company.</li>
    </ul>
  </li>
  <li>2018:
    <ul>
      <li>
        <a href="gameland">Gameland rewrite</a>, this time in Rust, targetting
        WebAssembly</a>. This one is one of the least boring ones on this list
        in terms of "interactive multimedia experience". :-) (open the page and
        you'll see what I mean)</li>
      <li>
        <b>notime</b> (44h). I ended up switching over this to Ember.js instead, also
        trying to get things working with CouchDB and PouchDB online/offline
        format for storing data.
      <li>
        <b>perlun.eu.org</b> (37h). Writing blog posts and also incorporating the
        Gameland intro mentioned above into the site.</li>
      <li>
        <b>chaos</b> (31h). <a
        href="https://github.com/chaos4ever/chaos/compare/7c965a1...151798a">Misc
        improvements</a> leading up to <a
        href="https://github.com/chaos4ever/chaos/releases/tag/0.2.0">the 0.2.0
        release</a>. Apart from the bootup sequence fixes already touched upon,
        the added support for booting from a USB pen device was one of the nicer
        fixes.
      <li>
        <a href="https://github.com/perlun/UsageLogger">UsageLogger</a>
        (9h), some high-quality spyware which you can use to stalk your children
        a bit. ;-) Written in .NET using some direct Win32 API calls.
      <li>
        <a href="https://github.com/perlun/pg2couch">Pg2Couch</a> (9h). This was
        part of the <tt>notime</tt> project; I needed to get some of our
        existing time-tracking related data into CouchDB for usage in my new
        app. This was also an interesting experiment with writing C# on macOS,
        using .NET Core. I remember it was nice to get back to the world of
        compiled languages after having worked mostly with Ruby; the speed
        increase when crcunching fairly large volumes of data was pleasant. It
        was also nice to get back to statically typed languages as well. OTOH,
        .NET Core had its disadvantages as a platform as well.
      </li>
      <li>
        <b>notime-pouchdb-server</b> (4h), written in TypeScript. Unfortunately, I seem
        to have thrown away this one. It was also written to support
        <tt>notime</tt>; I didn't get it very far but still. I think it was
        after working on this that I wrote <a
        href="http://perlun.eu.org/en/2018/04/27/my-first-impressions-of-nodejs">the
        "My first impressions of Node.js" blog post</a>. It was my first real
        project using Node.js as a backend platform and not just for wrestling
        with CLI stuff.
      </li>
    </ul>
  </li>
</ul>

<h2>Books that I would like to read</h2>
<p>
  (Unsurprisingly, this is my personal "wishlist" of books so I remember what to ask from others/buy for myself. :-)
</p>

<ul>
  <li>
    <p>
      <em>Structure and Interpretation of Computer Programs</em>. This book was recommended to me by a good friend named
      Andreas Finne. He praised it greatly, saying that "if you understand what is written in it, you will become a better
      programmer". I want to grow and learn more, so this is definitely one of the books I would like to read at some point.
    </p>

    <p>The book is available for reading online <a href="https://sarabander.github.io/sicp/html/index.xhtml">here</a></p>
  </li>

  <li>
    <p>
      <em><a href="https://www.bookdepository.com/The-Art-of-Multiprocessor-Programming--Revised-Reprint/9780123973375">The
        Art of Multiprocessor Programming - Maurice Herlihy, Nir Shavit</a></em>. Parallel programming is something I find
      fascinating, and even though I've been doing it a bit in the past, I know that there is _a lot_ to learn, particularly in
      areas like <em>lock-free concurrency</em> and the general theory behind implementing traditional (locking-based) concurrency
      primitives. Since I've never studied CS, I feel there are a lot of areas here where I could improve.
    </p>

    <p>
      (After writing the above, I have purchased the book and started looking into it but it's really not a very easy book to
      read; it's quite demanding on the reader. I anticipate it will take a year or two before I'm through this. It's definitely
      not something that's easy to just pick up and read during your lunch break or similar.)
    </p>
  </li>

  <li>
    <em><a href="https://people.kth.se/~artho/">Cyrille Artho</a>: Finding faults in multi-threaded programs.</em> Master's
      thesis, Swiss Federal Institute of Technology, March 15, 2001</em>
</ul>

<h2>Links that I find interesting</h2>
<p>
  Yes, this is sort of my personal collection of "bookmarks" that I intend to read some day. :)
</p>

<ul>
  <li><a href="https://mattwarren.org/2018/03/02/How-generics-were-added-to-.NET/">How generics were added to .NET</a></li>
  <li><a href="https://cacm.acm.org/magazines/2016/7/204032-why-google-stores-billions-of-lines-of-code-in-a-single-repository/fulltext">Why Google Stores Billions of Lines of Code in a Single Repository</a></li>
  <li><a href="https://rosettacode.org/wiki/Rosetta_Code">Rosetta Code is a programming chrestomathy site. The idea is to present solutions to the same task in as many different languages as possible, to demonstrate how languages are similar and different, and to aid a person with a grounding in one approach to a problem in learning another.</a>
  <li><a href="https://stackabuse.com/functional-programming-in-python/">Functional Programming in Python</a></li>

</ul>
